.l-header {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.l-button-container {
}

.l-button-temps {
}

.l-exercer-button {
}

.l-title {
  margin-bottom: 25px;
}

.l-seciton {
  margin-bottom: 65px;
}
