.l-header {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.l-title {
  margin-bottom: 25px;
}

.l-seciton {
  margin-bottom: 65px;
}

.l-option-impression-list li,
.l-option-impression-list-border {
  margin-bottom: 14px;
}
